@model User

<div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="card shadow p-4" style="width: 350px;">
        <h3 class="text-center mb-4">Login</h3>
        <p>@ViewBag.Message</p>
        <form  asp-action="Register" method="post">
            <div class="mb-3">
                <label class="form-label">First Name: </label>
                <input type="firstName" class="form-control" asp-for="FirstName" placeholder="Enter First Name">
            </div>

            <div class="mb-3">
                <label class="form-label">Middel Name</label>
                    <input type="middleName" class="form-control" asp-for="MiddleName" placeholder="Enter Middle Name">
            </div>

            <div class="mb-3">
                <label class="form-label">Last Name</label>
                <input type="lastName" class="form-control" asp-for="LastName" placeholder="Enter Last Name">
            </div>

            <div class="mb-3">
                <label class="form-label">Email address</label>
                <input type="email" class="form-control" asp-for="Email" placeholder="Enter email">
            </div>

            <div class="mb-3">
                <label class="form-label">Password</label>
                <input type="password" class="form-control" asp-for="Password" placeholder="Enter password">
            </div>

            <div class="mb-3">
                <label class="form-label">Confirm Password</label>
                <input type="confirmPassword" class="form-control" placeholder="Confirm Password">
            </div>
             
            <button type="submit" class="btn btn-primary w-100">Register</button>

            <div class="text-center mt-3">
                <a href="#">Forgot password?</a>
            </div>
            <div>
                 <a asp-controller="Auth" asp-action="Login">New User?</a>
            </div>
        </form>
    </div>
</div>